<div class="card mt-4">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate error consectetur id distinctio veniam, laboriosam numquam. Illo autem molestias, impedit vitae ullam sint ipsam natus dolorem, culpa molestiae illum repudiandae.</p>
    </div>
</div>