<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">This is a CRUD example using passport and handlebars</p>
    <hr class="my-4">
    <p>The goal of this example is show how can we build an app usin different tecnologies which can works y real production</p>
    <p>More info please click in button bottom</p>
    <a href="http://github.com/fafsDevs" class="btn btn-primary btn-lg">fafsDevs</a>
</div>